services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: solvex
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    networks:
      - backend_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d solvex -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - ./backend/.env
    environment:
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/solvex
      # DATABASE_URL: sqlite:///./test.db
      LOAD_FAKE_DATA: "true"
    ports:
      - "8000:8000"
    networks:
      - backend_net
  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    networks:
      - backend_net

volumes:
  postgres_data:

networks:
  backend_net:
    driver: bridge
