services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: solvex
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d solvex -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - ./backend/.env
    environment:
      DATABASE_URL: postgresql+psycopg://postgres:postgres@postgres:5432/solvex
      # DATABASE_URL: sqlite:///./test.db
      LOAD_FAKE_DATA: "true"
    ports:
      - "8000:8000"

volumes:
  postgres_data:
